node_modules
bower_components
coverage
npm-debug.log
yarn.lock
package-lock.json
.DS_Store


# vscode
.vscode
.history
.idea

# python cache
__pycache__
docs/.vitepress/cache/
docs/.vitepress/temp/
docs/.vitepress/dist

# Claude
.claude/*.local.json
